<head>
    <link rel="stylesheet" type="text/css" href="component.css">

</head>

<body>
    
    
    <button class="trigger" onClick="rate(1, 1)">Avaliar</button>
    <button class="trigger" onClick="rate(1, 2)">Avaliar</button>
    <button class="trigger" onClick="rate(1, 3)">Avaliar</button>
     <!-- <div id="rate" class="rate-component"></div>-->

    <!--<script type="text/javascript" src="component.js" charset="UTF-8"></script>-->
    <script type="text/javascript" src="index.js" charset="UTF-8"></script>
    <script type="text/javascript" src="modulo.js" charset="UTF-8"></script>
   
    
    



    

</body>