<head>
    <link rel="stylesheet" type="text/css" href="component.css">
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<header>
    <div class="container">
        <div class="slider-container">
            <div class="intro-text">
                <div class="intro-lead-in" charset="utf-8" >Bem vindo ao SysReput! Gerando reputação em qualquer plataforma</div>
                <div class="intro-heading">SysReput</div>
                <a class="page-scroll btn btn-xl" onClick="rate(8, 1)">Five-Stars</a>
                <a class="page-scroll btn btn-xl" onClick="rate(5, 2)">Like-Dislike</a>
                <a class="page-scroll btn btn-xl" onClick="rate(1, 3)">Slider</a>
            </div>
        </div>
    </div>
</header>
<body>
     <!-- <div id="rate" class="rate-component"></div>-->
    <!--<script type="text/javascript" src="component.js" charset="UTF-8"></script>-->
    <script type="text/javascript" src="index.js" charset="UTF-8"></script>
    <script type="text/javascript" src="modulo.js" charset="UTF-8"></script>
</body>